
li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .shopping-list-item {
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    width: calc(32%); /* 4つのアイテムを1行に表示するための幅調整 */
    box-sizing: border-box;
}